body {
	background-image: url("pics/index1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-color: #009dfe;
}

a {
	
	margin-left:25%
}

.navbar-default {
	padding: 3%;
	text-align: left;
	height: 17vh;
	background-color: black;
	opacity: .8;
}

img {
	width: 210px;
	height: 210px;
	border: 3px solid;
	border-color: white;
	border-radius: 50%;
}

#pics {
	position: absolute;
	top: 35%;
	color: white;
}

img:hover {
	opacity: 0.6;
	cursor: pointer;
}

.names {
	position: absolute;
	bottom: 25vh;
	text-align: center;
}

p {
	color: white;
	font-size: 25px;
	display: inline-block;
}

.h1 {
    font-size: 300%;
    font-family: Arial;
    margin: 0px;
    display: inline-block;
    text-align: left;
    color: white;
}