@CHARSET "ISO-8859-1";
body{
	background-image: url("pics/index.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-repeat: no-repeat;
	background-color:#009dfe;
	min-width:1000px;
	min-height:1000px;
}
h1{
	font-size: 52px;
	font-family:Arial;
}
.navbar-default{
	margin: 0px;
	text-align: left;
	padding-left:16vw;
	height: 17vh;
	background-color: #c1bfbd;
	opacity:.8;
	
}
a{
	float: left;
	padding-left: 1vw;
	padding-right: 1vw;
}

.links{
	margin-top: 1vw;
	text-align: center;
	display: inline-block;
}
#firstDiv{
	margin-left: 16vw;
}

.content{
	background: rgba(0, 0, 0, 0.1);
	background-color: #c1bfbd;
	opacity:.8;
	filter: blur(5px);
	border-radius: 10px;
	margin-top: 3vw;
	height: 50vh;
	font-family:Arial;
	font-size: 14px;
	color: black;
	
	
}
.apicontent{
	float: left;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-top: 3vw;
	height: 50vh;
}

#name{
	list-style-type: none;
}
.comments{
	margin-left:15vw;
	padding-bottom:2cm;
	
}
.comments form{
	width:100%;
}
.title{
	font-family:Arial;
	font-size: 18px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


