body{
	background-image: url("pics/startPage.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-repeat: no-repeat;
	background-color:#009dfe;
}

